
<% if object.errors.any? %>
<% relevant_errors = object.errors.full_messages.uniq {|msg| msg.split.first} %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(relevant_errors.count, "error") %>
    </div>
    <ul>
    <% relevant_errors.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>